{{#partial "content"}}

    <div class="creates">
        <h1>Heroes</h1>
        <div class="hero">
            <div>
                <img src="/images/lays.jpg" height="300">
            </div>

            <div>
                <p>
                    A <em>Hero</em>  is a real person or a main fictional character who, in the face of danger,
                    combats adversity through feats of ingenuity, courage, or strength.You should be able to give a super power
                    and hero's weakness.
                    You can place a hero to a particular squad.
                </p>
                <button><a href="/form">Create a hero</a></button>
            </div>
        </div>

        <hr>




        <div class="creates">

            <h1>Squad</h1>
            <div class="squad">
                <div>
                    <img src="/images/marvel-4.jpg" height="300">
                </div>

                <div>
                    <p>
                        A squad any small group or party of persons engaged in a common enterprise.
                        You can create a squad to a maximum number of your choosing. An example is
                        like the <em>Avengers.</em>
                    </p>
                    <button><a href="/form-squad">Create a squad</a></button>
                </div>

            </div>

        </div>
    </div>





{{/partial}}
{{> layout.hbs}}