{{#partial "content"}}
    <div class="alert alert-success text-center">
        <h1 >Success</h1>
        <p>Your Squad has been added!!</p>
    </div>

    <p class="text-center"><a href="/squad">Back to squad</a></p>
{{/partial}}

{{> layout.hbs}}