{{#partial "content"}}


    <div class="hero-form">
        <h1>Create Your Hero</h1>
        <form action="/form/new" method="post">
            <label for="name">Input your hero's name</label><br>
            <input id="name" name="name"><br>
            <label for="age">Input your hero's age</label><br>
            <input id="age" name="age"><br>
            <label for="powers">Input hero's special powers</label><br>
            <input id="powers" name="powers"><br>
            <label for="weakness">Input hero's weakness</label><br>
            <input id="weakness" name="weakness"><br>

            <!--<label for="squad">Add to a squad:</label>
            <select name="squad" id="squad">
                {{#each squad}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}

            </select>-->

            <button class="btn btn-success btn-sm mt-3" type="submit">Create</button>
        </form>
    </div>

{{/partial}}

{{> layout.hbs}}