{{#partial "content"}}

    <div class="alert alert-success text-center">
        <h1 >Success</h1>
        <p>Your Hero has been added to the squad!!</p>
    </div>


    <p class="text-center"><a href="/heroes">Check your hero here</a></p>
{{/partial}}

{{> layout.hbs}}